body{
	margin: 0;
	font-family: sans-serif;
	font-size: 14px;
}
ul{
	list-style: none;
}
.d-flex{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: flex-start;
}
.f-col{
	flex-direction: column;
}
.mob-only{display: none;}
.desk-only{display: block;}
.te-container{
	position: relative;
	margin: 0;
	width: 80% !important;
    left: 10% !important;
    top: 62px;
    overflow-y: auto;
    transition: all 0.4s linear;
}
.te-container.stretched{
	width: 88% !important;
    left: 5% !important;
	transition: all 0.4s linear; 
}


/*
** Style for Access Control Switch
*/
		.access-permission .d-flex{
			justify-content: space-between;
		}
		.access-permission{
			width: 100%;
			margin-bottom: 10px;
		    border-bottom: 2px solid #c5c5c5;
		    padding: 5px 0;

		}
		.access-permission:last-child{
		    border-bottom: none;

		}
		.access-permission .perm-label i{
			display: none;
			margin-left: 10px;
			transform: rotate(0deg);
			transition: 0.2s linear; 
		}
		.access-permission.has-submenu > .d-flex .perm-label i{
			display: inline-block;
		}
		.access-permission .perm-label i.chev-rotate{
			transform: rotate(-90deg);
			transition: 0.2s linear; 
		}
		.access-permission .sub-permission{
			display: none;
			width: 100%;
			margin-top: 10px;
			margin-bottom: 10px;
		}
		.access-permission .sub-permission > .d-flex{
			padding-left: 20px;
		}
		.perm-label{
			width: 75%;
		}
        .perm-switch {
            text-align: center;
        }
        .perm-switch span {
            color: #244895;
            font-size: 14px;
        }

        .switch {
            position: relative;
            display: inline-block;
            width: 40px;
            height: 15px;
        }

        /* Change default HTML checkbox */

        .switch input {
            opacity: 0;
            width: 0;
            height: 0;
        }

        .slider {
            position: absolute;
            cursor: pointer;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background-color: #ccc;
            -webkit-transition: .4s;
            transition: .4s;
        }

        .slider:before {
            position: absolute;
            content: "";
            height: 13px;
            width: 13px;
            left: 1px;
    		bottom: 1px;
            background-color: #244895;
            -webkit-transition: .4s;
            transition: .4s;
        }

        input:checked+.slider {
            background-color: #88d5e9;
        }

        input:focus+.slider {
            box-shadow: 0 0 1px #244895;
        }

        input:checked+.slider:before {
            -webkit-transform: translateX(26px);
            -ms-transform: translateX(26px);
            transform: translateX(26px);
        }

        .slider.round {
            border-radius: 34px;
        }

        .slider.round:before {
            border-radius: 50%;
        }
/*
** Style for responsiveness
*/
.responsive-table{
	width: 100%;
    overflow-x: auto;
}
@media screen and (max-width: 768px){
    .te-container.stretched{
	    width: 88% !important;
	    left: 6% !important;
	    transition: all 0.4s linear;
	}
}
@media screen and (max-width: 767px){
    .te-container{
    	left: 0 !important; 
        width: 100% !important;
        transition: 0.4s linear;
    }
    .te-container.stretched{
    	transform: translateX(30%);
        transition: 0.4s linear;
    }
	.mob-only{display: block;}
	.desk-only{display: none;}
}