.side-nav{
    position: fixed;
    top: 62px;
    left: 0;
    width: 20%;
    background: #88D5E9;
    height: 93vh;
    transition: width 0.4s linear;
    overflow: hidden;
    overflow-y: auto;
}
.side-nav.squeezed{
    width: 15%;
    transition: 0.4s linear;
}

.side-nav .container{
    padding: 0;
}
.side-nav li i{
    margin-right: 5px;
    font-size: 18px;
}
.side-nav ul{
    margin: 0; 
    padding: 0; 
    list-style: none;
}
.side-nav ul li img{
    vertical-align: middle;
    margin-right: 7px;
}
.side-nav ul li{
    position: relative;
    display: flex;
    flex-wrap: wrap;
    width: 95%;
    padding: 10px 0 10px 10px; 
    margin-bottom: 0;
    border-bottom: 1px solid;
    cursor: pointer;
    color: #244895;
}
.side-nav ul li a{
    color: #fff;
    text-decoration: none;
}
.side-nav ul li:hover,
.side-nav ul li.active{
    background: #244895;
    color: #fff;
}
.side-nav .submenu{
    display: none;
    margin-top: 5px;
    padding:0; 
    padding-left: 0;
    background: #244895;
    width: 100%;
}
.side-nav .submenu li:hover{
    background: #0C8FBE;
}
.side-nav .has-submenu:after{
    display: block;
    position: absolute;
    top: 15px;
    right: 20px;
    content: '\f078';
    font-family: FontAwesome;
    color: #244895;
    transform: rotate(0deg);
    transition: 0.3s linear;
}
.side-nav ul li:hover.has-submenu:after,
.side-nav ul li.active.has-submenu:after{
    color: #fff;
}
.side-nav ul li.active.has-submenu:after{
    transform: rotate(180deg);
    transition: 0.3s linear;
}
.side-nav.squeezed li {
    font-size: 12px;
}
.side-nav.squeezed li i{
    display: block;
    font-size: 20px;
    margin-bottom: 5px;
    width: 100%;
}

.side-nav .menu-profile{
    background: #444895;
    width: 100%;    
    border-bottom: 1px solid #fff;
}
.side-nav .menu-profile li{
    padding: 7px 10px; 
    border-bottom: 0;
    color: #fff;
}

@media screen and (max-width: 767px){
    .side-nav{
        height: 95vh;
        left : -50%;
        transition: 0.4s linear;
    }
    .side-nav.squeezed{
        left : 0;
        width: 30% !important;
        transition: 0.4s linear;
    }
    .side-nav li i{
        display: block;
    }
}